<debug-button>
    <label class="debug-toggle-label" for="debug" id="debug-label">false</label>
    <input type="checkbox" name="debug" id="debug" value="debug" />
</debug-button>

<script>
    class DebugButton extends HTMLElement {
        constructor() {
            super();
        }

        connectedCallback() {
            const label = this.getElementsByTagName('label')[0];
            const button = this.getElementsByTagName('input')[0];

            button?.addEventListener('click', () => {
                if (label) {
                    label.innerText = button.checked.toString();
                }
                document.body.classList.toggle("debug", button.checked);
            });
        }
    }

    customElements.define('debug-button', DebugButton);
</script>