---
import './reset.css';
import './font.css';
import './monospace.css';
import './style.css';
import DebugButton from '../components/DebugButton.astro';

const {frontmatter, headings} = Astro.props;

const title = frontmatter.title ?? 'Melefo';
---
<!DOCTYPE html>
<html lang={frontmatter.lang ?? 'en'}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Regular.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Italic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Thin.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-ThinItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-ExtraLight.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-ExtraLightItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Light.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-LightItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Medium.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-MediumItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-SemiBold.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-SemiBoldItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-Bold.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-BoldItalic.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-ExtraBold.woff2" crossorigin/>
    <link rel="preload" as="font" href="/fonts/JetBrainsMono-ExtraBoldItalic.woff2" crossorigin/>
    <title>{title}</title>
    <meta name="og:title" content={title}/>
    <meta name="og:type" content="website"/>
    {frontmatter.author &&
            <meta name="author" content={frontmatter.author}/>}
    {frontmatter.description &&
            <meta name="description" content={frontmatter.description}/>
            <meta name="og:description" content={frontmatter.description}/>
    }
    {frontmatter.keywords &&
            <meta name="keywords" content={frontmatter.keywords}/>}
</head>
<body>
<table class="header">
    <tr>
        <td colspan="2" rowspan="2" class="width-auto no-right-border">
            <h1 class="title">{title}</h1>
            <span class="subtitle">{frontmatter.subtitle}</span>
        </td>
        {frontmatter.icon &&
                <td rowspan="2" class="no-left-border icon" >
                    <img src={frontmatter.icon} alt="icon" />
                </td>
        }
        <th>Version</th>
        <td class="width-min">{frontmatter.version}</td>
    </tr>
    <tr>
        <th>Updated</th>
        <td class="width-min">
            <time style="white-space: pre;">{new Date(import.meta.env.GIT_COMMIT_DATE * 1000).toLocaleDateString()}</time>
        </td>
    </tr>
    <tr>
        <th class="width-min">Author</th>
        <td class="width-auto" colspan="2">{frontmatter.author_url ?
                <a href={frontmatter.author_url}><cite>{frontmatter.author}</cite></a> :
                <cite>{frontmatter.author}</cite>}</td>
        <th class="width-min">Debug</th>
        <td>
            <DebugButton/>
        </td>
    </tr>
</table>
<nav id="toc">
    <h2 id="toc-title">Contents</h2>
    <ul>
        {
            headings.map(heading => (
                    <li><a href={`#${heading.slug}`}>{heading.text}</a></li>
            ))
        }
    </ul>
</nav>
<slot/>
<div class="debug-grid"></div>
</body>
</html>