@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 400;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Thin.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 100;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-ThinItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 200;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-ExtraLight.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 200;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-ExtraLightItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 300;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Light.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 300;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-LightItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 500;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-MediumItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 600;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 600;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-SemiBoldItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 700;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-BoldItalic.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 800;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-display: optional;
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: italic;
    font-weight: 800;
    src: local('JetBrains Mono'), url('/fonts/JetBrainsMono-ExtraBoldItalic.woff2') format('woff2');
    font-display: optional;
}