.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.rainbow,
.card {
    font-weight: 900;
}

.rainbow {
    transition: text-shadow 0.7s;
}

.rainbow:hover {
    text-shadow: 1px -1px #ef3550,
    2px -2px #f48fb1,
    3px -3px #7e57c2,
    4px -4px #2196f3,
    5px -5px #26c6da,
    6px -6px #43a047,
    7px -7px #eeff41,
    8px -8px #f9a825,
    9px -9px #ff5722;
}

.card {
    transition: box-shadow 0.7s;
}

.card:hover {
    box-shadow: 3px -3px #555bff,
    6px -6px #1fc11b,
    9px -9px #ffd913,
    12px -12px #ff9c55,
    15px -15px #ff5555;
}

.emoji {
    position: relative;
}

.emoji:before {
    content: "😄";
}

.emoji:after {
    content: "🙂";
    position: absolute;
    left: 0;
    transition: opacity 0.2s ease-in-out;
}

*:hover > .emoji:after {
    opacity: 0;
}

td.no-left-border {
    border-left: none;
}

td.icon {
    min-width: calc(var(--line-height) * 4);
    align-content: center;
}

td.no-right-border {
    border-right: none;
}

/*
td:has(img#icon) {
    position: relative;
}

td img#icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 6ch;
    width: 6ch;
    margin: 1ch;
}
 */